body {
    background-color: black;
    color: dimgray;
}

a {
    text-decoration: none;
    color:red;
}

a:hover{
    color:white;
}

img {
    height : 110px;
}

body {
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

table {
    display: inline-block;
}


.char {
    border:2px solid gray;
}

.name {
    color:red;
}

.score {
    padding-left: 4px;
    font-style: italic;
}

.title {
    font-family: "Verdana", Arial;
    font-style: oblique;
}